#fullContent{
    overflow: auto;   
}
#leftBar{
    float:left;
    max-width: 20%;
    width: 120px;
    height: auto;
    
}
#mainContent{
    float:right;
    width:80%;
    height: auto;
}

#postBlock{
    border-style: dotted;
    border-width: 1px; 
    padding: 3px;
}