<!--
    This page is a part for forum mainlist

-->
<button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="loader.loadNewpost()">New Post</button>
<div id="forumMainList"></div>

