<!--
    This page is a part of forum, let user post new thing.

-->
Title: <input class="mdl-textfield__input" type="text" id="title" /> <br/>
Content: <input class="mdl-textfield__input" type="text" id="msg" /><br/>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="firebaseController.forumNewpost($('#title').val(),$('#msg').val())">Post!</button>