<!--
    This page is a part of whole web, and it is left side bar.
-->
<link rel="stylesheet" href="/css/leftbar.css" type="text/css" />
<link rel="stylesheet" href="/css/material.min.css" type="text/css" />
<h5 id="loginMsg"></h5>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="loginButton" href="javascript:loader.loadLogin()">Login</a> <br/>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="logoutButton" href="javascript:firebaseController.logout()">Logout</a> <br/>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="forumButton" onclick="loader.loadforumMain()">Forum</button>