<!--
    This page is a part of web and it is login page

-->
<h1>Login</h1>

Email: <input class="mdl-textfield__input" type="email" id="email" /> <br/>
Password: <input class="mdl-textfield__input" type="password" id="password"/><br/>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="firebaseController.login($('#email').val(), $('#password').val())">Login</button>

<br/>
<a href="javascript:loader.loadRegister()">New Account</a>