<!--
    This page is a part of web and it is register page

-->
<h1>Register New Account</h1>
Email: <input class="mdl-textfield__input" type="email" id="email" /> <br/>
Password: <input class="mdl-textfield__input" type="password" id="password"/> <br/>
name: <input class="mdl-textfield__input" type="text" id="name"/> <br/>
Telphone: <input class="mdl-textfield__input" type="number" id="tel"/> <br/>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="firebaseController.register($('#email').val(), $('#password').val(),$('#name').val(),$('#tel').val())">Register</button>